<div>name: {{imya}}</div>
<div>mail: {{pochta}}</div>
<div class="inputs" if="div">
  <form method="post" action="/profile/newPref">
    <div class="prefer">
      <label for="prefer">Хочу видеть</label>
      <input id="prefer" name="textus" placeholder="Укажите тему">
      <button type="submit" id="123">Добавить</button>
    </div>
  </form>
  <ul>
    {{#each prefs}}
    <div class="pref">
      <li>{{this.text}}</li>
      <form method="post" action="/profile/deleteP/{{this.id}}">
        <button class="but" id={{this.id}}>X</button>
      </form>
    </div>
    {{/each}}
  </ul>
  <form method="post" action="/profile/newNotpref">
    <div class="notprefer">
      <label for="notprefer">Не хочу видеть</label>
      <input id="notprefer" name="textus2" placeholder="Укажите тему">
      <button type="submit">Добавить</button>
    </div>
  </form>
  <ul>
    {{#each notprefs}}
    <div class="pref">
      <li>{{this.text}}</li>
      <form method="post" action="/profile/deleteNP/{{this.id}}">
        <button class="but" id={{this.id}} type="submit">X</button>
      </form>
    </div>
    {{/each}}
  </ul>
</div>
